"*":
  "exception-reporting":
    userId: "3aadc63a-9431-692d-683c-94ff2a17a71f"
  welcome:
    showOnStartup: false
  metrics:
    userId: "d54d08e928a778da03a8823ccdb3fa0fedcf054c"
  editor:
    fontFamily: "InputMonoNarrow-Regular"
    fontSize: 14
    lineHeight: 1.5
    showIndentGuide: true
    invisibles: {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    projectHome: "/Users/jamieconnolly/Code"
    themes: [
      "one-dark-ui"
      "neutron-syntax"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "file-icons":
    coloured: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
