'*':
  'exception-reporting':
    'userId': '3aadc63a-9431-692d-683c-94ff2a17a71f'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'd54d08e928a778da03a8823ccdb3fa0fedcf054c'
  'editor':
    'fontFamily': 'InputMonoNarrow-Regular'
    'fontSize': 14
    'lineHeight': 1.5
    'showIndentGuide': true
    'invisibles': {}
  'core':
    'disabledPackages': [
      'background-tips'
      'exception-reporting'
      'metrics'
    ]
    'themes': [
      'neutron-ui'
      'neutron-syntax'
    ]
    'projectHome': '/Users/jamieconnolly/Code'
  'tree-view':
    'hideIgnoredNames': true
    'hideVcsIgnoredFiles': true
  'file-icons':
    'coloured': false
  'linter': {}
