"*":
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.dotenv": [
        ".env.dist"
      ]
      "source.nginx": [
        "nginx.conf.erb"
      ]
      "source.toml": [
        "Pipfile"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "whitespace"
    ]
    telemetryConsent: "no"
    titleBar: "custom-inset"
  editor:
    fontFamily: "SF Mono"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "file-icons":
    coloured: false
  "linter-eslint":
    fixOnSave: true
  "linter-phpcs":
    disableWhenNoConfigFile: true
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-x"
  "linter-ui-default":
    decorateOnTreeView: "None"
    statusBarRepresents: "Current File"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  tabs:
    enableVcsColoring: true
  "tree-view":
    autoReveal: true
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
