.header > .icon-file-directory:before { top: -1px; }

.icon {
  &[data-name=".python-version"]:before { font-family: Mfizz; font-size: 14px; content: "\f14c"; }
  &[data-name="nginx.conf.erb"]:before { font-family: file-icons; font-size: 15px; content: "\f146b"; top: 0; }
  &[data-name="Procfile.local"]:before { font-family: Devicons; font-size: 16px; content: "\e67b"; top: -1px; }
}
