@import "packages/file-icons/features/no-colours";

.editor .git-commit.line-too-long.deprecated {
  background: transparent;
  color: orange;
  text-decoration: none;
}

.editor .git-commit.line-too-long.illegal {
  background: #DA2C43;
  color: #fff;
  opacity: 0.9;
}
